@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  @font-face {
    font-family: "IRANSansDN";
    src: local("font"), url("../Font/font.woff");
    font-display: block;
  }
}
* {
  font-family: "IRANSansDN";
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}
